<% page_title "Pohyby na bankovním účtu" %>

<table id="bank_payments" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Datum</th>
      <th>Částka</th>
      <th>Spárovat zbývá</th>
      <th>Protiúčet / poznámka</th>
      <th>Zpráva</th>
      <th>VS</th>
      <th>SS</th>
      <th>Číslo účtu</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_payments.each do |bank_payment| %>
      <tr>
        <td><%= link_to bank_payment.id, bank_payment %></td>
        <td data-order="<%=bank_payment.paid_on%>"><%= l bank_payment.paid_on %></td>
        <td><%= bank_payment.amount %></td>
        <td><%= bank_payment.remaining_amount %></td>
        <td><%= bank_payment.account_name unless bank_payment.account_name==bank_payment.info%></td>
        <td><%= bank_payment.info %></td>
        <td><%= bank_payment.registry_payment? ? link_to_registry_person(bank_payment.vs) : bank_payment.vs %></td>
        <td><%= bank_payment.ss %></td>
        <td><%= bank_payment.account_number %>/<%= bank_payment.bank_code %></td>
        <td>
          <% if can? :create, Donation.new(organization: @organization)%>
          <%= button_to("Párovat", pair_bank_payment_path(bank_payment), class: "btn btn-danger btn-xs") if bank_payment.remaining_amount>0 %>
          <% if bank_payment.bank_account.account_type==1 %>
          <%= link_to "Nový dar", new_donation_path(organization_id: @organization, vs: bank_payment.vs, amount: bank_payment.remaining_amount, bank_payment_id: bank_payment), class: "btn btn-default btn-xs" if bank_payment.remaining_amount>0 %>
          <% end %>
          <% end %>
          <% if can?(:create, MembershipFee.new) && bank_payment.bank_account.account_type==4 %>
          <%= link_to "Nový příspěvek", new_membership_fee_path(vs: bank_payment.vs, amount: bank_payment.remaining_amount, bank_payment_id: bank_payment), class: "btn btn-default btn-xs" if bank_payment.remaining_amount>0 && (@organization.nil? || @organization.id==100)%>
          <% end %>
          <%= link_to "Detail", bank_payment, class: "btn btn-default btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= datatable(:bank_payments) %>
