<% page_title "Faktury - #{@organization.try(:name)}" %>

<table id="invoices" class="table table-striped">
  <thead>
    <tr>
      <th>Datum vložení</th>
      <% unless @organization %>
      <th>Organizace</th>
      <% end %>
      <% if params[:only]!="unreaded" %>
      <th>Částka</th>
      <th>K úhradě</th>
      <th>VS</th>
      <% end %>
      <th>Popis</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td>Před <%= time_ago_in_words(invoice.created_at) %></td>
        <% unless @organization %>
        <td><%= invoice.organization.try(:name) %></td>
        <% end %>
        <% if params[:only]!="unreaded" %>
        <td><%= invoice.amount %></td>
        <td><%= invoice.payment_remainder==0 ? "zaplaceno" : invoice.payment_remainder  %></td>
        <td><%= invoice.vs %></td>
        <% end %>
        <td><%= link_to invoice.description.blank? ? "- bez popisu -" : invoice.description, invoice %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= datatable(:invoices) %>
