<% page_title "Přijatá faktura" %>

<div class="jumbotrons">
  <p class="pull-right">
  <% if can? :update, @invoice %>
  <%= link_to 'Upravit', edit_invoice_path(@invoice), class: "btn btn-default btn-primary" %>
  <% end %>
  <%= link_to "Zobrazit PDF", @invoice.document.url, class: "btn btn-default btn-info" %>
  </p>
  <h2><small><%= @invoice.organization.try(:name) %>: </small>
  <%= @invoice.description %></h2>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Platební instrukce</h2>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead><tr><th style="width: 40%"></th><th></th></tr></thead>
      <tbody>
        <tr><th>Částka:</th><td><%= number_to_currency @invoice.amount %></td></tr>
        <tr><th>Variabilní symbol:</th><td><%= @invoice.vs %></td></tr>
        <% unless @invoice.ss.blank? %>
        <tr><th>Specifický symbol:</th><td><%= @invoice.ss %></td></tr>
        <% end %>
        <% unless @invoice.ks.blank? %>
        <tr><th>Konstantní symbol:</th><td><%= @invoice.ks %></td></tr>
        <% end %>
        <tr><th>Číslo účtu:</th><td><%= @invoice.account_number %>/<%= @invoice.bank_code  %></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Schválení</h2>
  </div>
  <div class="panel-body">
    <% unless @invoice.approved? %>
      <div class="alert alert-warning text-center">
        <p>Schválení <strong>nevyznačeno</strong>.</p>
        <p><%= link_to("Vyznačit schválení", approval_invoice_path(@invoice), class: "btn btn-primary") if can?(:approve, @invoice)%></p>
      </div>
    <% else %>
      <table class="table">
        <thead><tr><th style="width: 40%"></th><th></th></tr></thead>
        <tbody>
          <tr><th>Schváleno dne:</th><td><%= l @invoice.approved_on %></td></tr>
          <tr><th>Zápis:</th><td><%= @invoice.approval_url ? link_to(@invoice.approval_url,@invoice.approval_url) : "nepřipojen" %></td></tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Události</h2>
  </div>
  <div class="panel-body">
    <table class="table">
    <thead>
      <tr><th>ID</th><th>Datum události</th><th>Osoba</th><th>Událost</th></tr>
    </thead>
    <tbody>
      <% @invoice.events.order(id: :desc).each do |event| %>
      <% if event.name=="InvoiceUpdated" && =event.data["params"].try(:fetch, "commit")=="Vyznačit schválení" %>
      <tr><td><%= event.id %></td><td><%= l event.created_at.to_date %></td><td><%= link_to event.requestor_id, "https://registr.svobodni.cz/people/#{event.requestor_id}" %></td><td>Vyznačil schválení</td></tr>
      <% end %>
      <% end %>
    <tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Úhrada</h2>
  </div>
  <div class="panel-body">
    <% if @invoice.is_exportable? && can?(:pay, @invoice) %>
      <% unless @invoice.approved? %>
      <div class="alert alert-danger text-center">
        Schválení <strong>nevyznačeno</strong>.
      </div>
      <% end %>
      <p class="text-center"><%= link_to("Zaplatit", pay_invoice_path(@invoice), class: "btn btn-primary") %></p>
    <% end %>
    <table class="table">
    <thead>
      <tr><th>Datum úhrady</th><th>Částka</th></tr>
    </thead>
    <tbody>
      <% for payment in @invoice.payments %>
      <tr><td><%= link_to l(payment.payment.paid_on), payment %></td><td><%= number_to_currency payment.amount %></td></tr>
      <% end %>
    <tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Zaúčtování v rozpočtu</h2>
  </div>
  <div class="panel-body">
    <% if @invoice.accountings.empty? %>
    <div class="alert alert-danger text-center">
      Zatím <strong>nezaúčtováno</strong>.
    </div>
    <% else %>
    <table class="table">
    <thead>
      <tr><th></th><th>Kategorie</th><th>Částka</th><th></th></tr>
    </thead>
    <tbody>
      <% for accounting in @invoice.accountings %>
      <tr>
        <td><%= accounting.budget_category.organization.name%></td>
        <td><%= link_to "#{accounting.budget_category.year} - #{accounting.budget_category.name}", accounting.budget_category if accounting.budget_category %><br/><%= accounting.tag_list %></td>
        <td><%= number_to_currency accounting.amount %></td>
        <td><%= link_to "Upravit", edit_accounting_path(accounting), class: "btn btn-primary btn-xs" %></td>
      </tr>
      <% end %>
    <tbody>
    </table>
    <% end %>

    <%= simple_form_for(@invoice.accountings.build(amount: @invoice.accounting_remainder), html: { class: 'form-horizontal' }) do |f| %>
      <%= f.hidden_field :accountable_type %>
      <%= f.hidden_field :accountable_id %>
      <% if @invoice.organization_id==100 %>
      <%= f.input :budget_category_id, collection: BudgetCategory.all.order(year: :desc, organization_id: :desc), label_method: ->(p){ "#{p.organization.name} - #{p.year} - #{p.name}"} %>
      <% else %>
      <%= f.input :budget_category_id, collection: @invoice.organization.budget_categories.order(year: :desc), label_method: ->(p){ "#{p.year} - #{p.name}"} %>
      <% end %>
      <%= f.input :amount %>
      <%= f.button :submit, class: "btn-primary pull-right" %>
    <% end unless @invoice.accounting_remainder == 0%>
  </div>
</div>
