<% page_title "Přijatá faktura" %>

<div class="jumbotrons">
  <h2><small><%= @invoice.organization.try(:name) %>: </small>
      <%= @invoice.description %></h2>
  <p><%= link_to "Zobrazit PDF", @invoice.document.url, class: "btn btn-default" %></p>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Platební instrukce</h2>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Částka:</th><td><%= @invoice.amount %></td></tr>
          <tr><th>Variabilní symbol:</th><td><%= @invoice.vs %></td></tr>
          <% unless @invoice.ss.blank? %>
          <tr><th>Specifický symbol:</th><td><%= @invoice.ss %></td></tr>
          <% end %>
          <% unless @invoice.ks.blank? %>
          <tr><th>Konstantní symbol:</th><td><%= @invoice.ks %></td></tr>
          <% end %>
          <tr><th>Číslo účtu:</th><td><%= @invoice.account_number %>/<%= @invoice.      bank_code  %></td></tr>
        </table>
       <%= link_to 'Upravit', edit_invoice_path(@invoice), class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Úhrada</h2>
      </div>
      <div class="panel-body">
        <table class="table">
        <thead>
          <tr><th>Datum úhrady</th><th>Částka</th></tr>
        </thead>
        <tbody>
          <% for payment in @invoice.payments %>
          <tr><td><%= link_to payment.payment.paid_on, payment %></td><td><%= payment.    amount %></td></tr>
          <% end %>
        <tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Zaúčtování v rozpočtu</h2>
      </div>
      <div class="panel-body">
        <table class="table">
        <thead>
          <tr><th>Kategorie</th><th>Částka</th></tr>
        </thead>
        <tbody>
          <% for accounting in @invoice.accountings %>
          <tr><td><%= link_to accounting.budget_category.name, accounting.    budget_category if accounting.budget_category %><br/><%= accounting.tag_list %></td><td><%= accounting.amount %></td><td><%= link_to "Upravit",     edit_accounting_path(accounting) %></td></tr>
          <% end %>
        <tbody>
        </table>

        <%= simple_form_for(@invoice.accountings.build(amount: @invoice.accounting_remainder), html: { class: 'form-horizontal' }) do |f| %>
          <%= f.hidden_field :accountable_type %>
          <%= f.hidden_field :accountable_id %>
          <%= f.input :budget_category_id, collection: BudgetCategory.all, label_method: ->(p){ "#{p.year} - #{p.organization.name} - #{p.name}"} %>
          <%= f.input :amount %>
          <%= f.input :tag_list %>
          <%= f.submit %>
        <% end unless @invoice.accounting_remainder == 0%>
      </div>
    </div>
  </div>
</div>
