<% page_title "Rozpočet - #{@organization.name} - #{@year}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Počáteční stav</h2>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
          <tr><td>Bankovní účty</td><td align='right'><%= number_to_currency @budget.opening_bank_balance %></td></tr>
          <tr><td>Pokladna</td><td align='right'><%= number_to_currency @budget.opening_cash_balance %></td></tr>
          <tr><th>Celkem</th><td align='right'><%= number_to_currency @budget.opening_balance %></td></tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <%= link_to "Upravit", edit_organization_budget_path(@organization, year: @year), class: "btn btn-primary" %>
  </div>
</div>

<% @budget_categories.group_by(&:budget_category_type).each do |type,values| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= type ? t(type) : "Ostatní" %></h2>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <% unless @year %>
          <th>Rok</th>
          <% end %>
          <th style="width: 30%">Název</th>
          <th style="width: 30%" class="text-right">Rozpočtováno</th>
          <th style="width: 30%" class="text-right">Stav</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

          <% amount = 0; accounted_amount = 0;
            values.each do |budget_category|
              amount += budget_category.amount
              accounted_amount += budget_category.accounted_amount
          %>
          <tr>
            <% unless @year %>
            <td><%= budget_category.year %></td>
            <% end %>
            <td><%= link_to budget_category.name, budget_category %></td>
            <td align='right'><%= number_to_currency budget_category.amount %></td>
            <td align='right'><%= number_to_currency budget_category.accounted_amount %></td>
            <td><% if can? :update, budget_category %><%= link_to "Upravit", edit_budget_category_path(budget_category), class: "btn btn-default btn-xs" %><% end %></td>
          </tr>
        <% end %>
        <tr><th>Celkem</th><td align='right'><%=number_to_currency amount %></td><td align='right'><%=number_to_currency accounted_amount%></td><td></td></tr>

      </tbody>
    </table>
  </div>
</div>
<% end %>

<% if can? :create, BudgetCategory.new(organization_id: params[:organization_id]) %>
<div><%= link_to '+ Nová rozpočtová kapitola', new_organization_budget_category_path(params[:organization_id], year: params[:year]), class: "btn btn-primary pull-right" %></div>
<% end %>
