<% page_title "Rozpočet - #{@organization.name} - #{@year}" %>

<table class="table table-stripped">
  <thead>
    <tr>
      <% unless @year %>
      <th>Rok</th>
      <% end %>
      <th>Název</th>
      <th>Rozpočtováno</th>
      <th>Stav</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_categories.each do |budget_category| %>
      <tr>
        <% unless @year %>
        <td><%= budget_category.year %></td>
        <% end %>
        <td><%= link_to budget_category.name, budget_category %></td>
        <td><%= budget_category.amount %></td>
        <td><%= budget_category.accounted_amount %></td>
        <td><%= link_to "Upravit", edit_budget_category_path(budget_category), class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nová položka rozpočtu', new_budget_category_path(organization_id: params[:organization_id], year: params[:year]), class: "btn btn-default" %>
