<% page_title "Rozpočet - #{@budget_category.name}" %>
<% page_title "Rozpočet - #{@budget_category.name}" %>

<h2>Rozpočtová kapitola</h2>
<table class="table">
  <tr><th>Organizace:</th><td><%=link_to @budget_category.organization.try(:name), @budget_category.organization%></td></tr>
  <tr><th>Hospodářský rok:</th><td><%=@budget_category.year%></td></tr>
  <tr><th>Název:</th><td><%=@budget_category.name%></td></tr>
	<tr><th>Rozpočtovaná částka:</th><td><%= number_to_currency @budget_category.amount%></td></tr>
	<tr><th>Vyúčtováno:</th><td><%= number_to_currency @budget_category.accounted_amount%></td></tr>
</table>

<h2>Detailní plnění rozpočtové kapitoly</h2>

<table id="accountings" class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Doklad</th>
      <th>Popis</th>
      <th>Částka</th>
    </tr>
  </thead>

  <tbody>
    <% @budget_category.accountings.each do |accounting| %>
      <tr>
      <% if accounting.accountable %>
        <% date = accounting.accountable.try(:payments).try(:last).try(:payment).try(:paid_on) %>
        <td data-order="<%= date %>"><%= l date %></td>
        <td><%= link_to(accounting.accountable.class.try(:model_name).try(:human), accounting.accountable) %></td>
        <td><%= link_to(accounting.accountable.try(:description) || accounting.accountable.try(:name), accounting.accountable) %></td>
      <% elsif accounting.payment %>
        <% date = accounting.payment.try(:paid_on) %>
        <td data-order="<%= date %>"><%= l date %></td>
        <td><%= link_to(accounting.payment.class.try(:model_name).try(:human), accounting.payment) %></td>
        <td><%= accounting.payment.try(:info) %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
        <td><%= number_to_currency accounting.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= datatable(:accountings) %>
