<% page_title "Rozpočet - #{@budget_category.name}" %>

<table class="table">
  <tr><th>Organizace:</th><td><%=link_to @budget_category.organization.try(:name), @budget_category.organization%></td></tr>
  <tr><th>Hospodářský rok:</th><td><%=@budget_category.year%></td></tr>
  <tr><th>Název:</th><td><%=@budget_category.name%></td></tr>
	<tr><th>Rozpočtovaná částka:</th><td><%=@budget_category.amount%></td></tr>
	<tr><th>Vyúčtováno:</th><td><%=@budget_category.accounted_amount%></td></tr>
</table>

<h2>Detailní plnění rozpočtu</h2>

<table class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Doklad</th>
      <th>Popis</th>
      <th>Tagy</th>
      <th>Částka</th>
    </tr>
  </thead>

  <tbody>
    <% @budget_category.accountings.each do |accounting| %>
      <tr>
	    <td data-order="accounting.accountable.try(:payments).try(:last)"><%= l accounting.accountable.try(:payments).try(:last) %></td>
        <td><%= link_to accounting.accountable.class.model_name.human, accounting.accountable %></td>
        <td><%= link_to accounting.accountable.try(:description), accounting.accountable %></td>
        <td><%= accounting.tags.collect(&:name).join(', ')%></td>
        <td><%= accounting.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
