<% page_title "Rozpočet - #{@budget_category.organization.try(:name)} - #{@budget_category.year} - #{@budget_category.name}" %>

<%= link_to 'Edit', edit_budget_category_path(@budget_category) %> |
<table class="table">
	<tr><th>Rozpočet:</th><td>n/a</td></tr>
	<tr><th>Vyúčtováno:</th><td><%=@budget_category.accounted_amount%></td></tr>
</table>

<h2>Detatilní plnění rozpočtu</h2>

<table class="table">
  <thead>
    <tr>
      <th>Doklad</th>
      <th>Popis</th>
      <th>Částka</th>
    </tr>
  </thead>

  <tbody>
    <% @budget_category.accountings.each do |accounting| %>
      <tr>
        <td><%= link_to accounting.accountable_type, accounting.accountable %></td>
        <td><%= link_to accounting.accountable.try(:description), accounting.accountable %></td>
        <td><%= accounting.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
