<% page_title "Přijaté dary" %>

<table id="donations" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Datum</th>
      <th>Částka</th>
      <th>Dárce</th>
      <th>Adresa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= link_to donation.id, donation %></td>
        <td><%= l donation.received_on %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.name %></td>
        <td><%= donation.address %></td>
        <td>
        <%= link_to 'Potvrzení', confirmation_donation_path(donation, format: :pdf), class: "btn btn-default" %>
        <%= link_to 'Smlouva', agreement_donation_path(donation, format: :pdf), class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= datatable(:donations)%>

<%= link_to "Export", {format: :xls}, class: "btn btn-primary" %>
