<% @page_title = "Evidence nepeněžního daru na kampaň" %>

<% unless @non_monetary_donation.agreement_received_on %>
 <div class="panel panel-info">
   <div class="panel-body" style="font-size: 200%">
     Vytiskněte si prosím <%= link_to 'darovací smlouvu', non_monetary_donation_path(@non_monetary_donation, format: :pdf)%> a zašlete ji na naši adresu nebo ji <a href="#nahrat">nahrajte naskenovanou</a>.
   </div>
 </div>
<% end %>

<table class="table">
  <tbody>
    <tr><th colspan="2" class="info">Dárce</th></tr>
    <tr><th>Jméno</th><td><%= @non_monetary_donation.name %></td></tr>
    <tr><th>Adresa</th><td><%= @non_monetary_donation.address %></td></tr>
    <tr><th>Email</th><td><%= @non_monetary_donation.email %></td></tr>
    <tr><th colspan="2" class="info">Dar</th></tr>
    <tr><th>Popis plnění</th><td><%= @non_monetary_donation.description %></td></tr>
    <tr><th>Hodnota daru</th><td><%= number_to_currency(@non_monetary_donation.amount) %></td></tr>
    <tr><th colspan="2" class="info">Smlouva</th></tr>
    <tr><th>Text smlouvy k podpisu</th><td><%= link_to 'PDF', non_monetary_donation_path(@non_monetary_donation, format: :pdf), class: "btn btn-success" %></td></tr>
    <tr>
      <th>Podepsaná smlouva doručena</th>
      <td>
        <% if @non_monetary_donation.agreement_received_on %>
          <%= l(@non_monetary_donation.agreement_received_on) %>
        <% else %>
          NE - Prosím, zašlete nám podepsanou smlouvu nebo nahrajte naskenovanou
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% unless @non_monetary_donation.agreement_received_on %>
<a name="nahrat"></a>
<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Nahrání naskenované podepsané smlouvy</h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@non_monetary_donation,  html: { class: 'form-horizontal' }) do |f| %>
      <%= f.input :agreement, label: "PDF soubor se smlouvou" %>
      <%= f.button :submit, "Uložit smlouvu", class: "btn-primary pull-right" %>
    <% end %>
  </div>
</div>
<% end %>
