<% @page_title = 'Seznam nepeněžních darů na kampaň' %>

<!-- <p>Seznam všech osob, které ve prospěch Svobodných nebo jejich kandidáta uhradily nebo se zavázaly uhradit výdaje na volební kampaň, poskytly peněžitý dar nebo bezúplatné plnění.</p> -->
<p>Seznam všech osob, které ve prospěch Svobodných nebo jejich kandidáta poskytly nepeněžní bezúplatné plnění.</p>
<table class="table">
  <thead>
    <tr>
      <th>Jméno a příjmení/obchodní firma</th>
      <th>Obvyklá cena</th>
      <th>Obec / Sídlo</th>
      <th>Datum narození / IČ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @non_monetary_donations.each do |non_monetary_donation| %>
      <tr>
        <td><%= non_monetary_donation.name %></td>
        <td><%= number_to_currency(non_monetary_donation.amount) %></td>
        <% if non_monetary_donation.juristic? %>
          <td><%= non_monetary_donation.address %></td>
          <td><%= non_monetary_donation.ic %></td>
        <% else %>
          <td><%= non_monetary_donation.city %></td>
          <td><%= l non_monetary_donation.date_of_birth %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nahlásit nový dar', new_public_non_monetary_donation_path, class: 'btn btn-primary btn-block' %>
