<% page_title 'Stav bankovních účtů' %>

<%= link_to ' + Přidat nový bankovní účet', new_bank_account_path, class: "btn btn-xs btn-primary pull-right"  %>

<table class="table table-stripped">
  <thead>
    <tr>
      <th><%=t("activerecord.attributes.bank_account.name")%></th>
      <th><%=t("activerecord.attributes.bank_account.account_number")%></th>
      <th><%=t("activerecord.attributes.bank_account.balance")%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.name %></td>
        <td><%= bank_account.full_account_number %></td>
        <td><%= number_to_currency(bank_account.balance) %></td>
        <td class="text-right">
          <%= link_to 'Zobrazit pohyby', bank_account_path(bank_account), class: "btn btn-xs btn-primary" %> |
          <%= link_to 'Upravit', edit_bank_account_path(bank_account), class: "btn btn-xs btn-warning" %> |
          <%= link_to 'FIO', "https://www.fio.cz/ib2/transparent?a=#{bank_account.account_number}", class: "btn btn-xs btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
