<% page_title "Pohyby na bankovním účtu #{@bank_account.full_account_number}" %>

<div class="pull-right"><%= paginate @bank_payments %></div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th><%=t("activerecord.attributes.bank_payment.paid_on")%></th>
      <th><%=t("activerecord.attributes.bank_payment.vs")%></th>
      <th><%=t("activerecord.attributes.bank_payment.amount")%></th>
      <th><%=t("activerecord.attributes.bank_payment.account_name")%></th>
      <th><%=t("activerecord.attributes.bank_payment.info")%></th>
      <th></th>
    </tr>

  </thead>
  <tbody>
  <% @bank_payments.each do |payment| %>
    <tr>
      <td><%=l payment.paid_on%></td>
      <td><%=link_to_registry_person payment.vs%></td>
      <td><%=payment.amount%></td>
      <td><%=payment.account_name%></td>
      <td><%=payment.info%></td>
      <td>
        <% if can? :create, Donation.new(organization: @organization)%>
          <%= link_to "Nový dar", new_donation_path(organization_id: @organization, vs: payment.vs, amount: payment.remaining_amount, bank_payment_id: payment.id), class: "btn btn-default btn-xs" if payment.remaining_amount>0 %>
        <% end %>
        <%=link_to "Detail", payment, class: "btn btn-primary btn-xs" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="pull-right"><%= paginate @bank_payments %></div>
