<h1>Listing accountings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Accountable type</th>
      <th>Accountable</th>
      <th>Budget category</th>
      <th>Payment type</th>
      <th>Payment</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountings.each do |accounting| %>
      <tr>
        <td><%= accounting.accountable_type %></td>
        <td><%= accounting.accountable_id %></td>
        <td><%= accounting.budget_category_id %></td>
        <td><%= accounting.payment_type %></td>
        <td><%= accounting.payment_id %></td>
        <td><%= accounting.amount %></td>
        <td><%= link_to 'Show', accounting %></td>
        <td><%= link_to 'Edit', edit_accounting_path(accounting) %></td>
        <td><%= link_to 'Destroy', accounting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for(@accounting) do |f| %>
  <% if @accounting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting.errors.count, "error") %> prohibited this accounting from being saved:</h2>

      <ul>
      <% @accounting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accountable_type %><br>
    <%= f.hidden_field :accountable_type %>
  </div>
  <div class="field">
    <%= f.label :accountable_id %><br>
    <%= f.hidden_field :accountable_id %>
  </div>
  <div class="field">
    <%= f.label :budget_category_id %><br>
    <%= f.select :budget_category_id, BudgetCategory.all.collect {|p| [ "#{p.year} - #{p.organization.name} - #{p.name}", p.id ]} %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
