<p id="notice"><%= notice %></p>

<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<p>
  <strong>Payment:</strong>
  <pre>
    <%= @payment.payment.to_yaml %>
  </pre>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Payable type:</strong>
  <%= @payment.payable_type %>
</p>

<p>
  <strong>Payable:</strong>
  <%= @payment.payable_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
