<% @page_title = "Detail úhrady" %>
<table class="table">
  <tr><th><%=t :payment_type%></th><td><%= @payment.payment_type %></td></tr>
  <tr><th><%=t :paid_on%></th><td><%= l @payment.payment.paid_on %></td></tr>
  <tr><th><%=t :amount%></th><td><%= @payment.payment.amount %></td></tr>
  <tr><th><%=t :account_name%></th><td><%= @payment.payment.account_name %></td></tr>
  <tr><th><%=t :info%></th><td><%= @payment.payment.info %></td></tr>
  <tr><th><%=t :vs%></th><td><%= @payment.payment.vs %></td></tr>
  <tr><th><%=t :ss%></th><td><%= @payment.payment.ss %></td></tr>
  <tr><th><%=t :ks%></th><td><%= @payment.payment.ks %></td></tr>

  <tr><th><%=t :payable_type %></th><td><%= link_to t(@payment.payable_type), @payment.payable %></td></tr>

</table>
