<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'   => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav id="custom-bootstrap-menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Svobodní - Finance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= @organization.try(:name) || "Organizace" %> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <% @organizations.each do |organization| %>
                  <li><%= link_to organization.name, organization %><!--#organization_budget_categories_path(organization, year: Date.today.year) --></li>
                <% end %>
<!--                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <% if @organization %>
          <ul class="nav nav-sidebar">
            <li><%=link_to "Rozpočty", organization_budget_categories_path(@organization, year: @year) %>
              <ul>
                <% for year in (2014..2015).to_a.reverse %>
                <li><%=link_to year, organization_budget_categories_path(@organization, year: year) %></li>
                <% end %>
              </ul>
            </li>
            <li><%=link_to "Banka", organization_bank_payments_path(@organization, year: @year) %>
              <ul>
                <li><%=link_to "Nespárované", organization_bank_payments_path(@organization, year: @year, only: :unpaired) %></li>
                <li><%=link_to "Příjmy", organization_bank_payments_path(@organization, year: @year, only: :incoming) %></li>
                <li><%=link_to "Výdaje", organization_bank_payments_path(@organization, year: @year, only: :outgoing) %></li>
              </ul>
            </li>
            <li><%=link_to "Faktury", organization_invoices_path(@organization) %>
              <ul>
                <li><%=link_to "Nepřiřazené", organization_invoices_path(@organization, year: @year, only: :unrecognized) %></li>
                <li><%=link_to "Nevytěžené", organization_invoices_path(@organization, year: @year, only: :unreaded) %></li>
                <li><%=link_to "Nezaplacené", organization_invoices_path(@organization, year: @year, only: :unpaid) %></li>
                <li><%=link_to "Nezaúčtované", organization_invoices_path(@organization, year: @year, only: :unpaired) %></li>
                <li><%=link_to "Nahrát novou", new_organization_invoice_path(@organization, year: @year) %></li>
              </ul>
            </li>
            <% if @organization.id==100 %>
            <li><%=link_to "Členské příspěvky", organization_invoices_path(@organization, year: @year) %></li>
            <% end %>
            <li><%=link_to "Přijaté dary", organization_donations_path(@organization, year: @year) %></li>
            <li><%=link_to "Tagy", organization_tags_path(@organization, year: @year) %></li>
          </ul>
          <% end %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <%= flash_messages %>

          <h1 class="page-header"><%= @page_title %></h1>
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
